html{
    font-family: Arial; 
    background-image:url('../images/bats.gif');
    

}
body{
    margin:0 auto;   
    height:600px;
    width:800px; 
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 0px 10px 10px 10px black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
 
}

.horizNavMenu ul{
    margin:0;
    padding:0;
    display:block;
    background-color: black;
    height:40px;
}
.horizNavMenu li{
    margin:0;
    padding: 0;
    display: inline;
    text-align: center;
    box-sizing: content-box;
    background-size: 800px 50px;
    background-color: black;

}
.horizList{
    float:left;
    padding-left: 0;
    width: 20%;
}
.horizList a{
    display:block;
    height:30px;
    padding-top:10px;
    text-decoration: none;
    font-weight: bold;
}
.homeLink {
    color:white;
}
.productListLink{
    color:white;
}
.personalLink{
    color:white;
}
.decoratingLink{
    color:white;
}
.emailLink{
    color:white;
}
.horizList a:hover{
    color:black;
    background-color: grey;
}
#vertNavMenu{
    float:left;
    width:160px;
    height:415px;
}
#vertNavMenu ul{
    float:left;
    width:160px;
    height: 520px;
    margin:10px;
    padding:0px
}
.catPic{
    float:left;
}
#vertNavMenu li{    
    background-color: orange;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding:5px;
    margin:2px;
    list-style-type:  none;
}
#vertNavMenu a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
#purchasedList ul{
    margin:0;
    float:right;
    width:180px;
    height:415px;
    padding:0px;
    background:#F5DEB3;
}
#purchasedList li{    

    margin-left:15px;
    list-style-type: none;
}
.prodLinkHover a:hover{
    font-weight: bold;
    color:green;
}
#purchasedList a{
    color:black;
    font-size: 75%;
    
}
.purchasedHeader{
    list-style-type: none;
    font-weight: bold;
    margin:10px;
    font-size: 90%;
}
.pumpkinPic{
    float:left;
    margin-top: 0;
    padding-top: 0px;
    padding-left: 10px;
}
h1{
    text-indent: 1em;
    padding-top: 0;
    margin: 0;
    line-height: 50px;
}

h2{
    font-size: 20px; 
    text-indent: 1.5em;
    margin: 0px;
    padding: 0px;

}
main{
    display:block;
    background-color: white; 
    border-top: 2px black solid;
    border-bottom: 2px black solid; 
    height: auto;
    height:415px;

}
.description{
    margin:5px;
    padding:0;
    float:left;
    width:230px;

}
#fullProduct{
    padding-top: 10px;
    padding-left: 160px;
    display:block;
    width:450px;
    height:415px;
    margin-right: 160px;
    
}
#fullProduct div,h3{
    padding:10px;
}

h3{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    
}


footer{
    text-align: center; 
    font-size: 75%; 
    line-height: 5; 
    background: linear-gradient(45deg,black,orange,white);
    background-color:orange;
    alignment-baseline: after-edge;
    height:60px;
}        
header{
    background: linear-gradient(45deg,white,orange,black);
    margin:0px;
    background-color:orange;
    padding-top: 0px;
    height: 85px;
}
