html{
    font-family: Arial; 
    background-image:url('../images/bats.gif');
    

}
body{
    margin:0 auto;
    width:800px; 
    margin-left: auto; 
    margin-right: auto;
    box-shadow: 0px 10px 10px 10px black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
ul{
    float:left;
    width:160px;
    height: 520px;
}
.pumpkinPic{
    float:left;
    margin-top: 0;
    padding-top: 0px;
    padding-left: 10px;
}
h1{
    text-indent: 1em;
    padding-top: 0;
    margin: 0;
}

h2{
    font-size: 20px; 
    text-indent: 1.5em;
    margin: 0px;
    padding: 0px;

}
main{
    background-color: white; 
    border-top: 2px black solid;
    border-bottom: 2px black solid; 
    height: auto;
}
h3::first-letter{
    font-size: 50px;
}
h3,h4{
    font-weight: bold; 
    font-size: 25px;
    padding-left: 10px;
    line-height: 5px;
    padding-bottom: 0px;
    
    
}

a{
    font-weight: bold; 
    color: orange; 
    line-height: 1.5;
}
a:hover{
    color: green;
}

footer{
    text-align: center; 
    font-size: 75%; 
    line-height: 5; 
    background: linear-gradient(45deg,black,orange,white);
    background-color:orange;
    alignment-baseline: after-edge;
}        
header{
    background: linear-gradient(45deg,white,orange,black);
    margin:0px;
    background-color:orange;
    padding-top: 0px;
}
p{
    padding-left: 20px;
}

